body {
    background: #000;
    color: #ffd43b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 70px auto;
    padding: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    padding: 15px;
    background: #111;
    border: 2px solid #ffd43b;
    color: #ffd43b;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
}

button {
    margin-top: 15px;
    background: #ffd43b;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ffe066;
}

.list-box {
    margin-top: 25px;
    text-align: left;
}

.confess-item {
    background: #111;
    border: 1px solid #ffd43b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}
